<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <title>Green X Recycling</title>
    <link rel="icon" href="/img/icon/fav_icon.gif">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/ionicons.min.css">
    <link type="text/css" rel="stylesheet" href="/css/popup.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/css/owl.theme.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
      <div id="preloader">
          <div class="loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>

    <div class="home-page">
        <div class="introduction background">
            <div class="intro-content">
                <h2 id="compname">Green <span id="greenx">X</span> Recycling</h2>

            </div>
        </div>

        <div class="menu">
            <div class="profile-btn">
                <img alt="" src="/img/about.jpg" style="width:100%; height:100%;">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-paper-outline hidden-xs"></i>
                    <h2>Available jobs</h2>
                </div>
            </div>

            <div class="portfolio-btn">
                <img alt="" src="/img/portfolio.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-briefcase-outline hidden-xs"></i>
                    <h2>Doing</h2>
                </div>
            </div>

            <div class="service-btn">
                <img alt="" src="/img/service.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-checkmark-outline hidden-xs"></i>
                    <h2>Done</h2>
                </div>
            </div>

            <div class="contact-btn">
                <img alt="" src="/img/contact.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-chatboxes-outline hidden-xs"></i>
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="close-btn"></div>


    <div class="profile-page container-fluid page">
        <div class="row">
            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>jobs</h1>
                </div>
            </div>
            <div class="content-container col-md-9 col-sm-12">
                <div class="clearfix">
                    <h2 class="small-heading">AVAILABLE JOBS</h2>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="about-us-desc">
                                      <!-- {{#jobs}}
                                        <h2>{{title}}</h2>
                                        {{description}}
                                      {{/jobs}} -->

                                      <table class="table">
                                    <tr>
                                      <th>Title</th>
                                      <th>Description</th>
                                      <th>Status</th>
                                      <th>Action</th>

                                    </tr>

                                  {{#jobs}}
                                  <tr>
                                  <div class="s_total clearfix dave"><strong class="cart_module_search left"><td>{{title}}</td></strong><span class="cart_module_search"><td>{{description}}</td></div>
                                    <td>{{job_status}}</td>
                                    <td>
                                      {{#available}}
                                      <a href="/take/update/{{id}}"><button>Take</button></a>
                                      {{/available}}
                                    </td>
                                  {{/jobs}}
                                  </tr>
                              </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-page container-fluid page">
        <div class="row">
            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>Doing</h1>
                </div>
            </div>
            <div class="content-container col-md-9 col-sm-12">
                <div class="portfolio clearfix full-height">
                    <h2 class="small-heading">Doing</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="project-container">
                                <div class="row">
                                  <div class="col-md-6">
                                      <div id="map-canvas"></div>
                                  </div>
                                    <div id="projects" class="projet-items clearfix">
                                      <table class="table">
                                    <tr>
                                      <th>Title</th>
                                      <th>Description</th>
                                      <th>Location</th>
                                      <th>Action</th>
                                    </tr>

                                  {{#newjobs}}
                                  <tr>
                                  <div class="s_total clearfix dave"><strong class="cart_module_search left"><td>{{title}}</td></strong><span class="cart_module_search"><td>{{description}}</td></div>
                                    <div class="s_total clearfix dave"><strong class="cart_module_search left"><td>{{latitude}},{{longitude}}</td></div>
                                    <td>
                                      <a href="/take/update/{{id}}"><button>Done</button></a>
                                    </td>
                                  </tr>
                                  {{/newjobs}}
                              </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-page container-fluid page">
        <div class="row">
            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>Done</h1>
                </div>
            </div>
            <div class="content-container col-md-9 col-sm-12">
                <div class="clearfix">
                    <h2 class="small-heading">Done</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="faq-desc-item">
                                        <div class="flip-container text-center" ontouchstart="this.classList.toggle('hover');">
                                            <div class="flipper">
                                                <div class="front">
                                                    <i class="fa fa-mobile"></i>
                                                    <h5>Bin placing</h5>
                                                </div>
                                                <div class="back">
                                                    <h5>Bin placing</h5>
                                                    <p>Place bins for plastic on the corner of church street. You should see a two green recycling bins standing infront of a lamp post</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="faq-desc-item">
                                        <div class="flip-container text-center" ontouchstart="this.classList.toggle('hover');">
                                            <div class="flipper">
                                                <div class="front">
                                                    <i class="fa fa-lightbulb-o"></i>
                                                    <h5>Collection</h5>
                                                </div>
                                                <div class="back">
                                                    <h5>Collection</h5>
                                                    <p>Place bins for plastic on the corner of church street. You should see a two green recycling bins standing infront of a lamp post.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="faq-desc-item">
                                        <div class="flip-container text-center" ontouchstart="this.classList.toggle('hover');">
                                            <div class="flipper">
                                                <div class="front">
                                                    <i class="fa fa-paint-brush"></i>
                                                    <h5>Plastic</h5>
                                                </div>
                                                <div class="back">
                                                    <h5>Plastic</h5>
                                                    <p>The  bins in NY1 next to the police station is full and paper's are starting to spread allover the area.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-page container-fluid page">
        <div class="row">
            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>contact</h1>
                </div>
            </div>
            <div class="content-container col-md-9 col-sm-12">
                <div class="clearfix full-height">
                    <h2 class="small-heading">Report a problem or ask for advice on a job</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <form  method="post" action="/jobs/add">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input  name="title" value="{{title}}" type="text" class="form-control" id="name" required="required" placeholder="  title">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input name="job_status" value="{{job_status}}" type="text" class="form-control" id="email" require="required" placeholder="job status">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <textarea name="description" value="{{description}}" type="text" class="form-control" id="message" rows="5" required="required" placeholder="  description"></textarea>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                          <input type="submit" id="cfsubmit" class="btn btn-send" value="Send">
                                    </div>
                                    <div id="contactFormResponse" class="col-md-8 col-xs-12"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.popup.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript"src="/js/js"></script>
    <script type="text/javascript" src="/js/contact.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

</body>
</html>
